@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:700&subset=cyrillic');
html, body {
padding: 0;
margin: 0;
}


a, div, span{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}   

h1{
    font-family: 'Roboto Slab', serif;
    font-size: 37px;
    margin-top: 11px;
    line-height: 1;
}
a{   
    text-decoration: none;
    color: #348cb2;
     
}

.line.black{
    height: 65px;
    background-color: black;
}

.line.black span, .line.black a{
      
    float: right;
    position: relative;
    margin-top: 24px;
    margin-right: 60px;        
}

 
.telephone:before {
    content: '';
    background: url(../images/ph.png);
    width: 16px;
    height: 16px;
    top: 3px;
    right: 141px;
    background-size: contain;
    position: absolute;
    display: block;
}

.mail:before {
    content: '';
    background: url(../images/em.png);
    width: 16px;
    height: 16px;
    top: 3px;
    right: 141px;
    background-size: contain;
    position: absolute;
    display: block;
}

.adress:before {
    content: '';
    background: url(../images/lo.png);
    width: 16px;
    height: 16px;
    top: 3px;
    right: 205px;
    background-size: contain;
    position: absolute;
    display: block;
}

.line a,.line span{
    color: white;
    padding-bottom: 2px;
}
.line a{
    border-bottom: 1px solid white;
}


.logo{
        background: url(../images/logo.png) center center no-repeat;
    background-size: cover;
    width: 217px;
    height: 35px;
    position: absolute;
    margin-top: 17px;
    margin-left: 20px;
}
.line.blue {
   background-color: #348cb2;
   height: 45px;
   
}
.menu li{
    margin-right: 30px; 
    padding-bottom: 3px;
    margin-top: 10px;
    display: inline-block;
  
}

.menu ul{
    margin: 0;
    margin-left: 20px;
    padding: 0px;
    
}

.main{
width: 100%; 
background: linear-gradient(to top, #ffffff, #bcbcba);
height: 500px; 
padding-top: 50px;   
}

.container{
    width: 1070px;
    margin: 0 auto;
   
}

.column{
    display: inline-block;
    vertical-align: top;
}
.column.left{   
   display: inline-block;
    vertical-align: top;
    width: 49%;
/*    margin-left: 185px;
    margin-top: 35px;*/
}
.cup{
    background: url(../images/cup.png) center center no-repeat;
    height: 460px;
    background-size: contain;
}
.column.right{  
    
    display: inline-block;
    vertical-align: top;
  /*  width: 49%;*/
    width: 519px;
    padding-top: 84px;
}
.column.right p{
    color:#666;
} 
button{
    box-shadow: inset 0px 1px 0px 0px rgb(228, 110, 104);   
    font-family: 'Open Sans', sans-serif;  
    color:white;
    background: linear-gradient(to bottom, #ce0100 5%, #e61700 100%);
    border-radius: 6px;
    border: 1px solid #d83526;
}
.button1{
    padding: 5px 25px;
    font-size: 16px;
    margin-top: 16px;
    
}
.button2{
    padding: 5px 12px;
    margin-top: 16px;
    
}
button:hover{
    cursor: pointer;
    background: linear-gradient(to bottom, #e61700 100%, #ce0100 5% );
}
.clearfix {
    clear: both;
}
.item{
        width: 240px;
    height: 320px;
    float: left;
    margin: 4px;
    text-align: center;
}
.item_img{
    width: 240px;
    height: 240px;
    background-size: contain;
}
.item_text{
       
    display: table;
    width: 100%;
}
.str2{
    min-height: 39px;
}
.str3{
    min-height: 58px;
}
.text_child{
    vertical-align: middle;
    text-align: center;
    display: table-cell;
}
  a{
   
    padding-bottom: 1px;
    border-bottom: 1px solid #348cb2; 
    
}
a:hover, .menu li:hover{
     border-bottom:0;
}

.container.bottomborder{
    overflow: hidden;
    padding-bottom: 30px;
    border-bottom: 1px dashed #93a6ba; 
}
.info{
    margin-top: 50px;
}
.infoblock{
    width: 299px;
    height: 339px;
    display: inline-block;
    vertical-align: top;
    margin-right: 60px;
}
.price{
    margin-left: 33px;
    color: black;
}
.name{
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
    margin-bottom: 36px;
}
.birka{
    position: relative;    
    
}
.birka:before{
    
    margin-left: -34px;
    margin-top: -15px;
    content: '';
    background: url(../images/birka.png) center no-repeat;
    display: block;
    width: 150px;
    position: absolute;
    height: 55px;
    background-size: contain;   
}

.infoblock p{
    
   margin-bottom: 18px;
    font-size: 13px;
    line-height: 19px;
    color: #676666;
    
}
.infoblock:last-child{
    margin: 0;
}
p .date{
    color: #93a6ba;
}
.imgblog{
    background: url(../images/blcl.jpg) center center no-repeat;
    background-size: cover;
    width: 314px;
    height: 315px; 
    display: inherit;
    vertical-align: inherit;
    position: relative;
    top: -10px;
}
footer{
    margin-top: 30px;
}
.information{
    position: relative;
    display: inline-block;
    vertical-align:top;
    padding-right: 150px;
    
}
.information:before{
    background-color: #ffef98;
    position: absolute;
    display: block;
    background-size: contain;
    width: 670px;
    height: 50px;
    top: 0;
    left: 0;
    content: '';
    z-index: -1;
    margin-left: -140px;
    margin-top: -12px;       
}
.information:after{
    border: 20px solid transparent;	
    border-left: 20px solid #ffef98;
    content: '';
    margin-left: 128px;
    border: 25px solid transparent;
    border-left: 29px solid #ffef98;
    content: '';
    margin-left: 530px;
    margin-top: -29px;
    position: absolute;
}
.information, .information strong, .information a{
    font-size: 13px;
}
.soc{
  font-size: 13px;
  margin-top: 4px;
}
.soc, .soc2{
    display: inline-block;
    vertical-align:top;
}
.footer.top{
    padding-bottom:  45px;
}
.border_bottom{

  border-bottom: 1px dashed #93a6ba;  
}
.footer.bottom{
    margin-top: 15px;
    
}
.footer.bottom div{
    font-size: 13px;
    color: #676666;
    display: inline-block;
}
.fleft{
    float:left;
    overflow:hidden;
}
.fright{
    float:right;
    overflow:hidden;
}
footer{
   padding-bottom: 30px; 
}